{% extends 'core/template/layout.html' %}
{% load static %}

{% block title %}
Change password
{% endblock title%}

{% block content %}
<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="{% static 'site/images/contact-us/banner.png' %}" alt="Banner">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="loginForm">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 mx-auto">	
				<form method="post">
					<h3 class="text-center">CHANGE YOUR PASSWORD</h3>
					<div class="latestForm">
						<!-- old password input -->
						<div class="form-group"> 
							<input type="email" name="email" id="email" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="email">Old Password</label>
							<i class="fa-regular fa-envelope iconSet fs-5"></i>
						</div>
                        <!-- new password input -->
						<div class="form-group"> 
							<input type="email" name="email" id="email" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="email">New Password</label>
							<i class="fa-regular fa-envelope iconSet fs-5"></i>
						</div>
                        <!-- confirm new password input -->
						<div class="form-group"> 
							<input type="email" name="email" id="email" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="email">Confirm Password</label>
							<i class="fa-regular fa-envelope iconSet fs-5"></i>
						</div>
					</div> 
					<!-- /. latestForm -->
	
					<!-- Submit button -->
					<div class="d-grid">
						<input type="submit" name="submit" class="btn btn-danger mb-4" id="submit" value="Submit">
					</div>

					<!-- Register buttons -->
					<div class="text-center">
						<p>Already have an account? <a class="clickHere" href="login.html">Login Here</a></p>
						<p>or</p>
						<p>Login With Social</p>
						<a href="javascript:void(0);" class="btn btn-danger btn-floating rounded-pill mx-2">
						  <i class="fa fa-google me-1"></i> Google
						</a>
						<a href="javascript:void(0);" class="btn btn-primary rounded-pill btn-floating mx-2">
						  <i class="fa fa-facebook me-1"></i> Facebook
						</a>
						<a href="javascript:void(0);" class="btn btn-floating btn-info mx-2 rounded-pill text-white">
						  <i class="fa fa-twitter me-1"></i> Twitter
						</a>
					</div>
				</form>			
			</div>
		</div>
	</div>
</section>

<!-- /. contactForm -->

{% endblock content %}