{% load static %}
{% load humanize %}
<!-- banner start here -->
<div class="banner">
  <!-- header start here -->
  <header id="header">
    <!-- navbar start here -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- navbar-brand -->
        <a class="navbar-brand" href="{% url 'core:home' %}">
          <img src="{% static 'site/images/logo/Logo.png' %}" class="w-100 main-logo" alt="Logo" title="Logo">
        </a>
        <!-- toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-center m-auto justify-content-center">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_users:job_list' %}">Browse Jobs</a>
            </li>
            <!-- navbar right button -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="dropdown" id="notifications"><i class="fa fa-bell fa-lg">
                  <span class="badge rounded-pill bg-danger">
                    {{ unread_notifications }}
                    <span class="visually-hidden">unread messages</span>
                  </span></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="dropdownMenuButton">
                {% for notification in notifications %}
                <li class="notification-item" data-id="{{ notification.id }}"></li>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h6 class="mb-0">{{ notification.notification.subject }}</h6>
                      <p class="mb-0 opacity-75">{{ notification.notification.content }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">{{ notification.notification.created_at|timesince }}
                      ago</small>
                  </div>
                </a>
            </li>
            {% empty %}
            <li>
              <p class="mb-0 opacity-75">No new notifications</p>
            </li>
            {% endfor %}
          </ul>
          </li>

          <li class="nav-item">
            <a href="#" class=" nav-link dropdown-toggle mb-2" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.profile_pic %}
              <img src='{{user.profile_pic.url}}' alt="mdo" width="35" height="35" class="rounded-circle">
              {% else %}
              <i class="fa-solid fa-user-circle "></i>
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small shadow ">
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'auth_users:profile-view' %}"><i class="fa-solid fa-user"></i>
                  Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'auth_users:logout' %}"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</a></li>
            </ul>
          </li>
          {% else %}
          <li><a class="btn btn-primary me-2" href="{% url 'auth_users:login'%}">
              <i class="fa-solid fa-right-to-bracket me-2"></i>Login
            </a></li>
          <li><a class="btn btn-danger" href="{% url 'auth_users:register' %}">Sign Up</a></li>
          {% endif %}
          </ul><!-- navbar right button end here -->
        </div><!-- navbar links -->
      </div>
    </nav><!-- navbar -->
  </header>
  <!-- header -->